<div class="navbar navbar-inverse navbar-static-top">
  <ul class="nav nav-pills" role="tablist">
    <li class="section active" data-section="1"><a href="#">Segment construction</a></li>
    <li class="section" data-section="2"><a href="#">3D transformations</a></li>
    <li class="section" data-section="3"><a href="#">Building polygons</a></li>
  </ul>
</div>
