<div class="navbar navbar-inverse navbar-static-top">

  <ul class="nav nav-pills" role="tablist">
    <li class="section active" data-section="1"><a href="#">Построение отрезков </a></li>
    <li class="section" data-section="2"><a href="#">Трехмерные преобразования</a></li>
    <li class="section" data-section="3"><a href="#">Построение полигонов</a></li>
  </ul>

</div>
